html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100%;
    background-image: url('assets/sprites/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
}

canvas {
    width: 100%;
    max-width: 1280px;
    height: 576px;
    background-color: black;
}

@keyframes zoom {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

#gameContainer {
    position: relative;
    animation: zoom 1000ms ease-out;
}

.statusbar_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    top: 0;
    padding: 16px;
}

.statusbar {
    height: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 8px 4px black;
    margin-left: 2%;
}

.statusbar img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -10px;
}

.innerbar {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0px 0px 4px 2px lightgray;
    margin-left: 9%;
}

#healthbar {
    background: #B22222;
}

#healthbar .innerbar {
    background: #FF0000;
}

#manabar {
    background: transparent;
}

#manabar img {
    bottom: 48px;
    left: -40px;
    width: 140px;
    height: 90px;
}

#manabar .innerbar {
    background: #0072B8;
    width: 0%;
}

#progressbar {
    background: transparent;
}

#progressbar img {
    width: 100px;
    height: 100px;
    left: -20px;
}

#progressbar .innerbar {
    background: #757575;
    width: 0%;
}

#bossbar {
    position: absolute;
    top: 16px;
    right: 116px;
    width: 50%;
    height: 32px;
    background: black;
    box-shadow: inset 0px 0px 4px 2px lightgray;
}

#bossbar .innerbar {
    margin-left: 0;
    background: #FF2C2C;
    box-shadow: inset 0px 0px 8px 4px black;
    width: 100%
}

.ingameIcon {
    position: absolute;
    z-index: 3;
    top: 16px;
}

.ingameIcon:hover {
    cursor: pointer;
}

.ingameIcon img {
    height: 32px;
    width: 32px;
}

#muteIcon {
    right: 16px;
}

#fullscreenIcon {
    right: 64px;
    display: none;
}

.d_none {
    display: none !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2c3e50;
    box-shadow: inset 0px 0px 256px 8px #5D3A91;
    box-sizing: border-box;
    padding: 32px;
}

h1 {
    font-family: 'Creepster', sans-serif;
    color: #000000;
    text-shadow: -2px 3px 2px #B22222;
    font-size: 48px;
    text-align: center;
    margin: 16px 0;
}

.overlay p {
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0;
    color: white;
    padding: 8px;
    line-height: 1.5;
}

.overlay img {
    width: 48px;
    height: 48px;
}

.button {
    background-image: url('assets/sprites/buttons/button.png');
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    transition: all 0.3s ease;
    animation: bounceIn 1s ease forwards;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-image: url('assets/sprites/buttons/button_shiny.png');
    scale: 1.2;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.endscreen {
    text-shadow: 0px 1px 8px #000000;
    background: transparent;
    font-size: 48px;
    animation: endscreen 1s ease forwards;
}

@keyframes endscreen {
    0% {
        font-size: 0px;
    }

    80% {
        font-size: 64px;
    }

    100% {
        font-size: 48px;
    }
}

.endscreen .button {
    font-size: 24px;
    text-shadow: none;
}

footer {
    display: flex;
    gap: 32px;
    position: absolute;
    bottom: 3%;
    font-size: 10px;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#mobileScreen {
    display: none;
    z-index: 1;
}

#rotateInfo {
    z-index: 2;
    text-align: center;
    display: none;
}

.touchbutton {
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    bottom: 4px;
    user-select: none;
}

.touchbutton img, .touchbutton svg {
    user-select: none;
}

#touchLeft {
    left: 30px;
}

#touchRight {
    left: 110px;
}

#touchUp {
    right: 30px;
}

#touchAttack {
    right: 120px;
    scale: 1.4;
}

@media screen and (min-width: 1024px) {
    .touchbutton {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #rotateInfo {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    #startScreen {
        display: none;
    }

    #mobileScreen {
        display: flex;
    }

    canvas {
        height: 100svh
    }

    footer {
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 16px;
        box-sizing: border-box;
    }

    #mobileScreen .button {
        background-image: none;
        background: black;
        color: white;
        margin-top: 8px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #B22222;
        box-shadow: 0px 0px 4px #B22222;
        text-shadow: 0px 0px 8px #B22222;
        animation: flash 30s infinite ease-in-out;
    }

    .overlay p {
        height: 16px;
        font-size: 10px;
        text-align: center;
    }

    .statusbar_container {
        gap: 16px;
        top: 0;
        padding: 8px;
    }
    
    .statusbar {
        height: 10px;
        width: 150px;
        border: 2px solid black;
        box-shadow: inset 0px 0px 8px 4px black;
        margin-left: 2%;
    }
    
    .statusbar img {
        width: 42px;
        height: 42px;
        position: absolute;
        left: -10px;
    }
    
    .innerbar {
        margin-left: 6%;
    }

    #healthbar img {
        left: -4px;
    }

    #manabar img {
        bottom: 25px;
        left: -18px;
        width: 70px;
        height: 50px;
    }

    #progressbar img {
        width: 50px;
        height: 50px;
        left: -8px;
    }

    #bossbar {
        top: 22px;
        height: 16px;
    }

    .endscreen p {
        font-size: 48px;
    }

    #fullscreenIcon {
        display: flex;
    }
}

@keyframes flash {
    0% {
        color: white;
    }

    10% {
        color: #B22222;
    }

    20% {
        color: white;
    }

    30% {
        color: #B22222;
    }

    40% {
        color: white;
    }

    50% {
        color: #B22222;
    }

    60% {
        color: white;
    }

    70% {
        color: #B22222;
    }

    80% {
        color: white;
    }

    90% {
        color: #B22222;
    }

    100% {
        color: white;
    }
}