html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('assets/sprites/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

canvas {
    width: 100%;
    max-width: 1280px;
    height: 576px;
    background-color: black;
}

.gameContainer {
    position: relative;
}

.statusBarContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    top: 0;
    padding: 16px;
}

.statusBar {
    height: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 8px 4px black;
    margin-left: 2%;
}

.statusBar img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -10px;
}

.innerBar {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0px 0px 4px 2px lightgray;
    margin-left: 9%;
}

#healthBar {
    background: #B22222;
}

#healthBar .innerBar {
    background: #FF0000;
}

#manaBar {
    background: transparent;
}

#manaBar img {
    bottom: 48px;
    left: -40px;
    width: 140px;
    height: 90px;
}

#manaBar .innerBar {
    background: #0072B8;
    width: 0%;
}

#progressBar {
    background: transparent;
}

#progressBar img {
    width: 100px;
    height: 100px;
    left: -20px;
}

#progressBar .innerBar {
    background: #757575;
    width: 0%;
}